*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(); */
    background-size: cover;
    background-position: center ;
    font-family: sans-serif;
}

.menu-bar{
    background: grey;  /* Hintergrundfarbe Menüleiste */
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}

.active, .menu-bar ul li:hover{
    background: red;    /* Farbliche Hinterlegung der aktiven Seite */
    border-radius: 3px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: red;  /* Hintergrundfarbe des Untermenüs. */
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {   /* Ordnet die Unterpunkte des Sub-Menüs untereinander an */
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {  /* Unterstreichung der SubMenü Unterpunkte */
    width: 150 px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left; 
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{ /* Keine Unterstreichung für den letzten SubMenüpunkt */
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{ /* Farbe der angewählten Submenüpunkte */
    color: grey; 
}

.fa-angle-right{
    float: right;  /* Ausrichtung der Pfeile der Menüunterpunkte */
}

/*
.sub-menu-2{
    display: none;
}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
*/

.logo img{
    float:left;
  }

/*Bezieht sich auf den Text unter dem Menüpunkt "About" */
.info{
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
}